body {
  display: grid;
  grid-template-areas: 'header header'
                       'nav main'
                       'footer footer';
  grid-template-columns: minmax(auto, 12em) 5fr;
  grid-template-rows: auto 1fr auto;
  /* background-color: #f5f5f5; */
  min-height: 100vh;
}


header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

aside {
  grid-area: nav;
}

main {
  grid-area: main;
}

* {
  box-sizing: border-box;
}

.gist-meta{
  display: none;
}



h2 {
  font-weight: bold;
  /* margin-bottom: 0.5em; */
}

aside {
  border-right: 1px solid;
  position: relative;
  padding-top:5px;
  padding-left: 5px;
}

 main {
  overflow-y: auto;
}

h1, main {
  padding: 1rem;
}

.aside .navbar,
.aside .navbar-nav{
    flex-direction: column;
    padding: 0;
    align-items: initial;
    justify-content: initial;
    flex-wrap: initial;
}

.aside .navbar-nav{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.aside .navbar-nav .nav-item {
    margin: 0;
}

/* .aside-navbar-nav .nav-link{
  font-size: var(--size-9);
} */

.aside_hamburger{
    /* position: absolute;
    top: 0;
    right: 0; */
}

.material-icons:hover{
  transform: scale(1.5);
}

.aside_hamburger{
  background-color: transparent;
  border: 0;
  font-size: var(--size-10);
  cursor: pointer;
        /* display: none; */
        transform: translateX(-100%);
        transition: transform 560ms;

}

.aside_hamburger:focus{
  outline: 2px solid transparent; 
  outline-offset: 2px;
}

.header{
  border-bottom: 1px solid;
}

.footer{
border-top: 1px solid;
display: flex;
padding:var(--size-9);
/* justify-content: space-between; */
}

.footer-brand,
.footer-writer{
  display: flex;
  flex-direction: column;
  flex: 1 1;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.footer-writer{
  align-items: flex-end;
}

:root {
  --ratio: 9 / 16;
  --width: 98vmin;
  --height: calc(var(--width) * var(--ratio));
}
      .container{
        /* border: 1px solid; */
  /* font-size: 3.5vmin; */
  margin: 1vmin auto;
  width: var(--width);
  min-height: var(--height);
  /* text-align: center; */
      }

  .article{
    display: flex;
    flex-direction: column;
  }

  .article h2{
    text-align: center;
    margin-bottom: 1rem;
  }

  .article-component-container{
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 16px;
    background-color: rgb(244, 245, 248);
  }

  .article-component-header{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding:.5rem 1rem;
    /* margin-top: 10px; */
    border-top: 1px solid transparent;
border-bottom: 1px solid rgba(0,0,0,0.1);
background-color: white;
  }

  .article-component-body{
    padding:1rem;
  }

  .article-component-body > h4{
    text-align: center;
    font-size: x-large;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .article-component-body > input{
    margin-bottom: 10px;
  }

  .component-badge-icon-body{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .component-buttons{
    padding: 1.5rem;
  }

  .component-card-cenetr{
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  .component-image-center{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-component-footer{
    padding:0 1rem;

  }

  .color-red{
    color: red;
  }

@media (max-width:768px) {

  .container{
    padding: 3vmin;
  }

  .aside .material-icons{
    font-size: calc(2*var(--size-9));
  }
  .nav-item .nav-link{
    font-weight: bolder;
  }
  .nav-item .nav-link:hover{
    transform: scale(1.1);
    /* color: #a0fff0; */
  }

  .aside{
    border-right: 0;
    background-color: rgb(196, 194, 194)  ;
  }

    .beautify-aside{
        z-index: 1;
        background-color: rgba(255, 253, 253, 0.986);
        width: 100%;
        height: 100vh;
    }




   .aside  .navbar{
        /* display: none; */
        transform: translateX(-100%);
        transition: transform 560ms;

    }

  .aside  .show-navbar{
        /* display: flex; */
        transform: translateX(0);
    }

    /* .aside ,.navbar-nav{
      position: relative;
    }
     */
    body{
        grid-template-areas: 'header header'
        'nav nav'
        'main main'
        'footer footer';
grid-template-rows: auto 40px 1fr auto;
    }

    /* .navbar-nav{
        position: initial;
        top: 0;
    } */
    
    .aside_hamburger{
      /* display: block; */
              position: absolute;
        top: 0;
        right: 10px;
          transform: translateX(0);
    }

    .article-component-container{
      border: 0;
      /* margin-bottom: 16px; */
    }

    .article-component-header{
      border-bottom: 1px solid rgb(0,0,0);
    }
}
