.container-home {
    margin: 1vmin auto;
    width: var(--container-width);
    min-height: var(--container-height);
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-logo{
    max-width: calc(10*var(--size-9));
    margin: 0 auto;
}

.description {
    padding: var(--size-9) 0 var(--size-11);
    width: 90%;
    font-size: calc(var(--size-11) + 0.5vw);
    line-height: var(--size-15);
}

.home-button {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    padding: var(--size-10) var(--size-12);
    min-width: calc(10*var(--size-9));
    font-weight: var(--weight-semibold);
}

.home-button:hover{
    background-color: var(--logo-color);
    border: 2px solid;
    color: black;
    font-weight: var(--weight-black);
}   
  