@import "../base/all.css";

.border-rounded-circle{
    border-radius: 999px;
}

.border-sm{
    border: 5px solid;
}

.border-md{
    border: 10px solid;
}

.border-lg{
    border: 15px solid;
}

.border-dark-red{
    border-color: var(--dark-red);
}

.border-dark-brown{
    border-color: var(--dark-brown);
}

.border-dark-green{
    border-color: var(--dark-green);
}

.border-dark-blue{
    border-color: var(--dark-blue);
}

.border-dark-purple{
    border-color: var(--dark-purple);
}

.border-dark-pink{
    border-color: var(--dark-pink);
}

