:root{
    --xs:480px;
    --sm:640px;
    --md:768px;
    --lg:1024px;
    --xl:1280px;
    --txl:1536px;

    --dark-red:#7F1D1D;
    --dark-brown:#78350F;
    --dark-green:#064E3B;
    --dark-blue:#1E3A8A;
    --dark-purple:#4C1D95;
    --dark-pink:#831843;

}