html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}