<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="alert.css">
    <title>Component: Alert</title>    
</head>
<body>


    <div class="alert alert-bg-success">
        <div>
            <div class="alert-message">Success Tips</div>
        </div>
    </div>

    <div class="alert alert-bg-info">
        <div>
            <div class="alert-message">Information Notes</div>
        </div>
    </div>

    <div class="alert alert-bg-warning">
        <div>
            <div class="alert-message">Warning</div>
        </div>
    </div>

    <div class="alert alert-bg-error">
        <div>
            <div class="alert-message">Error</div>
        </div>
    </div>


    <div class="alert alert-bg-error dflex">
        <span class="material-icons alert-info-icon alert-color-error">
            cancel
        </span>
        <div>
            <div class="alert-message">Error</div>
        </div>
    </div>


    <div class="alert alert-bg-warning dflex">
        <span class="material-icons alert-info-icon alert-color-warning">
            error
        </span>
        <div>
            <div class="alert-message">Warning</div>
        </div>
        <button class="alert-close-icon m-left-auto">
            <span class="material-icons">
                close
            </span>
        </button>
    </div>


    <div class="alert alert-bg-success dflex">
        <span class="material-icons alert-info-icon alert-color-success">
            check_circle
        </span>
        <div class="alert-content dflex flex-y flex-ai-start">
            <div class="alert-message">Success Tips</div>
            <div class="alert-description">Detailed description and advice about successful copywriting.</div>
        </div>
        <button class="alert-close-icon m-left-auto">
            <span class="material-icons">
                close
            </span>
        </button>
    </div>

    <div class="alert alert-bg-info dflex">
        <span class="material-icons alert-info-icon alert-color-info">
            info
        </span>
        <div class="alert-content dflex flex-y flex-ai-start">
            <div class="alert-message">Information Notes</div>
            <div class="alert-description">Additional description and information about copywriting.</div>
        </div>
        <button class="alert-close-icon m-left-auto">
            <span class="material-icons">
                close
            </span>
        </button>
    </div>

</body>
</html>