<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <title>Component: Avatar</title>    
</head>
<body>
        <img src="https://cdn5.telesco.pe/file/WrBTrjKYesF3RcHJmNWJoJ_r3bFpL_X1EIT8t1KAwbQD5y-PzF8x_KQGwhBh09vk8Bb9jkbXcMPkM7sS6BAxVkm4xB9h3d2UK3pxHEV_EGRDIC9ypcRghrR4ZawOX-go7h1prwe6csteGo7TohHpMXEJK4lHrohK5rKulg0TP6xWnt5ZoGFigs7jTj-XJqKFTzjqtOmUuOe5E_Vn1PhVD5Z72fGfevyqDR6zNFaF_WjbMNj75npdiushy8PsaPbGnkay7R6z2juLPcYeR0kyqGW8HMdiFMSssd5MHJDZ6lRNxzzCoBGNiIFyIKEpsXmYN3nWsXNoh2Ks70wAaPwIKQ.jpg" class="avatar avatar-xs">

        <img src="https://cdn5.telesco.pe/file/WrBTrjKYesF3RcHJmNWJoJ_r3bFpL_X1EIT8t1KAwbQD5y-PzF8x_KQGwhBh09vk8Bb9jkbXcMPkM7sS6BAxVkm4xB9h3d2UK3pxHEV_EGRDIC9ypcRghrR4ZawOX-go7h1prwe6csteGo7TohHpMXEJK4lHrohK5rKulg0TP6xWnt5ZoGFigs7jTj-XJqKFTzjqtOmUuOe5E_Vn1PhVD5Z72fGfevyqDR6zNFaF_WjbMNj75npdiushy8PsaPbGnkay7R6z2juLPcYeR0kyqGW8HMdiFMSssd5MHJDZ6lRNxzzCoBGNiIFyIKEpsXmYN3nWsXNoh2Ks70wAaPwIKQ.jpg" class="avatar avatar-sm">

        <img src="https://cdn5.telesco.pe/file/WrBTrjKYesF3RcHJmNWJoJ_r3bFpL_X1EIT8t1KAwbQD5y-PzF8x_KQGwhBh09vk8Bb9jkbXcMPkM7sS6BAxVkm4xB9h3d2UK3pxHEV_EGRDIC9ypcRghrR4ZawOX-go7h1prwe6csteGo7TohHpMXEJK4lHrohK5rKulg0TP6xWnt5ZoGFigs7jTj-XJqKFTzjqtOmUuOe5E_Vn1PhVD5Z72fGfevyqDR6zNFaF_WjbMNj75npdiushy8PsaPbGnkay7R6z2juLPcYeR0kyqGW8HMdiFMSssd5MHJDZ6lRNxzzCoBGNiIFyIKEpsXmYN3nWsXNoh2Ks70wAaPwIKQ.jpg" class="avatar avatar-md">

        <img src="https://cdn5.telesco.pe/file/WrBTrjKYesF3RcHJmNWJoJ_r3bFpL_X1EIT8t1KAwbQD5y-PzF8x_KQGwhBh09vk8Bb9jkbXcMPkM7sS6BAxVkm4xB9h3d2UK3pxHEV_EGRDIC9ypcRghrR4ZawOX-go7h1prwe6csteGo7TohHpMXEJK4lHrohK5rKulg0TP6xWnt5ZoGFigs7jTj-XJqKFTzjqtOmUuOe5E_Vn1PhVD5Z72fGfevyqDR6zNFaF_WjbMNj75npdiushy8PsaPbGnkay7R6z2juLPcYeR0kyqGW8HMdiFMSssd5MHJDZ6lRNxzzCoBGNiIFyIKEpsXmYN3nWsXNoh2Ks70wAaPwIKQ.jpg" class="avatar avatar-lg">

        <img src="https://cdn5.telesco.pe/file/WrBTrjKYesF3RcHJmNWJoJ_r3bFpL_X1EIT8t1KAwbQD5y-PzF8x_KQGwhBh09vk8Bb9jkbXcMPkM7sS6BAxVkm4xB9h3d2UK3pxHEV_EGRDIC9ypcRghrR4ZawOX-go7h1prwe6csteGo7TohHpMXEJK4lHrohK5rKulg0TP6xWnt5ZoGFigs7jTj-XJqKFTzjqtOmUuOe5E_Vn1PhVD5Z72fGfevyqDR6zNFaF_WjbMNj75npdiushy8PsaPbGnkay7R6z2juLPcYeR0kyqGW8HMdiFMSssd5MHJDZ6lRNxzzCoBGNiIFyIKEpsXmYN3nWsXNoh2Ks70wAaPwIKQ.jpg" class="avatar avatar-xl">

        <img src="https://cdn5.telesco.pe/file/WrBTrjKYesF3RcHJmNWJoJ_r3bFpL_X1EIT8t1KAwbQD5y-PzF8x_KQGwhBh09vk8Bb9jkbXcMPkM7sS6BAxVkm4xB9h3d2UK3pxHEV_EGRDIC9ypcRghrR4ZawOX-go7h1prwe6csteGo7TohHpMXEJK4lHrohK5rKulg0TP6xWnt5ZoGFigs7jTj-XJqKFTzjqtOmUuOe5E_Vn1PhVD5Z72fGfevyqDR6zNFaF_WjbMNj75npdiushy8PsaPbGnkay7R6z2juLPcYeR0kyqGW8HMdiFMSssd5MHJDZ6lRNxzzCoBGNiIFyIKEpsXmYN3nWsXNoh2Ks70wAaPwIKQ.jpg" class="avatar avatar-2xl">


</body>
</html>